*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.box1{
    height: 1200px;
    background-image: url('img/bg01.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.box2{
    height: 800px;
    background-image: url('img/bg02.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.box3{
    height: 1887px;
    background-image: url('img/bg03.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.box4{
    height: 1228px;
    background-color: #C9CDD0;
}

.box5{
    height: 1270px;
}

.footer{
    height: 180px;
    background-color: #211F66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    border: 0px solid red;
    height: 100%;
}

.box1 > .wrap{
    width: 1100px;
}

.box5 > .wrap{
    width: 1920px;
}

.size_th{
    width: 1100px;
}

.align_ct{
    display: flex;
    justify-content: center;
}

.box1 > .wrap > img{
    margin-top: 283px;
    margin-left: 94px;
}

.box2 > .wrap > img{
    margin-left: 202px;
    margin-top: 204px;
}

.box3 > .wrap > img{
    margin-top: 120px;
   
}

.box4 > .wrap > img{
    margin-top: 98px;
    
}

.box5 > .wrap > img{
    margin-top: 0px;
    
}

.footer > .wrap > img{
    margin-top: 45px;
}
